h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

html {
  background-color: rgb(130, 155, 133);
  text-align: justify;
}

img {
  width: 50px;
}

.logo {
  width: 100px;
  float: left;
  margin-right: 15px;
}

.logo2 {
  width: 100px;
  float: right;
  margin-left: 15px;
}
